
      <body data-spy="scroll" data-target=".nav-top">
          <!--======== 网站头图 =========-->
          <section class="intro">
            <div class="row">
              <div class="col-md-10 col-centered text-center ">
                <div class="intro-content">
                  <h1>闯关晋级成为自己的大BOSS</h1>
                  <P class>Ruby on Rails 全栈工程师</p>
                  <a class="btn btn-welcome" href="jobs" role="button">直奔战场</a>
                </div>
              </div>
            </div>
          </section>
          <!--======== end 网站头图 =========-->

          <!--======== 服务优势 =========-->
          <section id="service" class="what-we-do ">
              <div class="row">
                <div class="col-md-10 service col-centered text-center">
                  <h2 class="section-title">服务优势</h2>
                  <p>在全栈的路上，我们拥有梦想拥有热情，但我们也常常感到迷茫和无助。
                    <br/>不用怕，这里有科学的筛选工作机制，有最全最广最集中的工作岗位资源，为你提供成长型职位。</p>
                    <p-2>__________________</p-2>
                </div>
              </div>

              <div class="row">
                <div class="col-md-10 col-centered text-center">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="do-box">
                        <%= image_tag("dingwei.png") %>
                        <h3>快速定位</h3>
                        <p>根据自己的能力级别去选择岗位，拨开薪资之谜，从本质上选工作。为你缩小找工作的范围。</p>

                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="do-box">
                        <%= image_tag("xuanze.png") %>
                        <h3>优质高效的选择</h3>
                        <p>我们有专业的团队，收集各大企业及招聘网的信息，提供信息对称集中的工作。为你较少找工作成本。</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="do-box">
                        <%= image_tag("chengzhang.png") %>
                        <h3>提供成长型岗位</h3>
                        <p>了解企业的本质需求，告诉你这岗位需要什么能力，在岗位上多久才能达到你想要的级别。为你评估成长速度。</p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
          </section>
          <!--======== end 服务优势 =========-->

          <!--======== level =========-->
          <section id="genius" class="level">
            <div class="container-fluid">
              <div class="col-md-10 col-centered text-center">
                <div class="row">

                  <div class="row">
                      <h2 class="section-title-2">程序员等级</h2>
                      <p>_______________</p>
                    </div>
                      <div class="row">
                          <div class="col-md-4 category-list">
                            <%= link_to jobs_path(:category => "编程门外汉") , class: "category_1" do %>
                              <div class="level-box">
                                  <%= image_tag("level-1.png") %>
                              </div>
                              <div>
                                <h3>编程门外汉</h3>
                                <!-- <p>Technology</p> -->
                              </div>
                            <% end %>
                          </div>
                          <div class="col-md-4 category-list">
                            <%= link_to jobs_path(:category => "编程新手") , class: "category_2" do %>
                              <div class="level-box">
                                  <%= image_tag("level-2.png") %>
                              </div>
                              <div>
                                <h3>编程新手</h3>
                                <!-- <p>Product</p> -->
                              </div>
                            <% end %>
                          </div>
                          <div class="col-md-4 category-list">
                            <%= link_to jobs_path(:category => "高级新手") , class: "category_3" do %>
                              <div class="level-box">
                                  <%= image_tag("level-3.png") %>
                              </div>
                              <div>
                                <h3>高级新手</h3>
                                <!-- <p>Design</p> -->
                              </div>
                            <% end %>
                          </div>
                      </div>
                      <br />
                      <div class="row">
                        <div class="col-md-4 category-list">
                          <%= link_to jobs_path(:category => "制作人") , class: "category_5" do %>
                              <div class="level-box">
                                <%= image_tag("level-4.png") %>
                            </div>
                            <div>
                              <h3>制作人</h3>
                              <!-- <p>Marketing</p> -->
                            </div>
                          <% end %>
                        </div>
                        <div class="col-md-4 category-list">
                          <%= link_to jobs_path(:category => "项目经理") , class: "category_6" do %>
                              <div class="level-box">
                                <%= image_tag("level-5.png") %>
                            </div>
                            <div>
                              <h3>项目经理</h3>
                              <!-- <p>Sales</p> -->
                            </div>
                          <% end %>
                        </div>
                        <div class="col-md-4 category-list">
                          <%= link_to jobs_path(:category => "Growth hacker") , class: "category_7" do %>
                              <div class="level-box">
                                <%= image_tag("level-6.png") %>
                            </div>
                            <div>
                              <h3>Growth hacker</h3>
                              <!-- <p>Office</p> -->
                            </div>
                          <% end %>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
          </section>
          <!--======== end level =========-->


          <!--======== 岗位资源 =========-->
          <section id="source" class="source">
            <div class="container">
              <div class="row">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h2 class="section-title">岗位资源</h2>
                     <p>______________</p>
                    <%= image_tag("boss.png") %>
                    <%= image_tag("lagou.png") %>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--======== end 岗位资源 =========-->

          <!--======== 我在这里告诉你 =========-->
          <section id="testimonial" class="talk-about-us">
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-centered text-center">
                  <h2 class="section-title-2">我在岗位上告诉你</h2>
                   <p-4>______________</p-4>
                  <!-- <div id="talk-about-us" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#talk-about-us" data-slide-to="0" class="active"></li>
                      <li data-target="#talk-about-us" data-slide-to="1"></li>
                      <li data-target="#talk-about-us" data-slide-to="2"></li>
                    </ol> -->

                    <div class="carousel-inner" role="listbox">

                      <div class="item active">
                        <div class="col-md-4">
                          <span class="person" > <img src='<%= image_url 'person.png' %>'</span>
                          <strong><br/>Mary ,介面设计师 ,xxx在职人员</strong>
                        </div>
                        <div class="col-md-8">
                          <p>我在xxx这个公司的xxx岗位里面工作了3年，这是一个挑战性很大的岗位，有时候会加班，但是学到了很多东西，让我快速成长。这三年里学到了。。。。</p>
                        </div>
                      </div>

                      <!-- <div class="item">
                        <p>Facebook、Airbnb、Google，全球最顶尖公司的职缺，这里都有！而且更新非常快，每天都有新职缺，可以说是市面上最厉害的招聘网站！</p>
                        <%= image_tag("user_3.png") %>
                        <strong>Kelly , 数据工程师 </strong>
                      </div>
                      <div class="item">
                        <p>庞大的人才数据库，让我在搭建新团队时能快速找到一流高手，简易又好上手的后台让我省去许多麻烦，可以专注于挖掘人才。</p>
                        <%= image_tag("user_2.png") %>
                        <strong>Rex , 产品总监 </strong>
                      </div> -->
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--======== end 我在这里告诉你 =========-->

          <!--======== 再度推坑 =========-->

          <section class="support">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-xs-12 text-center">
                    <p>未完，待续。。。。</p>
                  <!-- <a href="#myPage" title="To Top">
                    <span class="btn btn-back " href="jobs">返回战场</span>
                  </a> -->
              </div>
            </div>
          </div>
          </section>



          <!--======== end 再度推坑 =========-->

      </body>
