<div class="season">

  <!-- hearder -->
        <div class="row">
          <div class="header">
            <div class="season-block1">
              <img src="http://ww2.sinaimg.cn/large/006tNc79gy1fewi3hn4t1j31kw0wrdpy.jpg" class="liang-img" alt="">
          </div>
          <div class="search-1">
            <form class="form-inline text-center search">
              <div class="input-group">
                <input type="email" class="form-control" size="50" placeholder="工作类型，城市，公司。。。" required>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-danger">查找</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

<!-- Container (About Section) -->
<div class="container">
    <div clasc。。。</h2>
      <h4>我们拥有梦想拥有热情，但我们也常常感到迷茫和无助。</h4>
      <h4>在这里，我们帮助你找到定位，提供优质的选择，并且帮助你淡定的得到职位。</h4>
        <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>

</div>


<!-- Container (Services Section) -->
<div class="container text-center bg-grey">
    <div class="row">
  <h2>闯关游戏等级</h2>
    <div class="col-sm-4" >
      <span > <img src='<%= image_url 'answer.png'  %>'</span>
    <h4>编程门外汉</h4>
      <p>对整个编程架构能有一个大概的认知</p>
    </div>
    <div class="col-sm-4">
      <span > <img src='<%= image_url 'learning.png' %>'</span>
      <h4>编程新手</h4>
      <p>建立基本环境,熟悉基本流程,独立做小项目</p>
    </div>
    <div class="col-sm-4">
      <span> <img src='<%= image_url 'coffee-break.png' %>'</span>
      <h4>高级新手</h4>
      <p>设计架构,搭建功能,寻找资源,独立解决问题,
        <br/>熟悉进阶Rails API,写出漂亮的技术架构</p>
    </div>
    <div class="col-sm-4">
      <span > <img src='<%= image_url 'brainstorming.png' %>'</span>
      <h4>制作人</h4>
      <p>实作自由项目,挖掘真实痛点,设计最小商业原型
      </p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon" > <img src='<%= image_url 'classroom.png' %>'</span>
      <h4>项目经理</h4>
      <p>正确的排程，管理风险与资源
        <br/>最短期限内落实项目</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon" > <img src='<%= image_url 'profits.png' %>'</span>
      <h4 style="color:#303030;">Growth hacker</h4>
      <p>做出有价值实用的功能
        <br/>为项目注入成长的灵魂，并且业绩长红。
      </p>
    </div>
  </div>
</div>


<!-- Container (Portfolio Section) -->
<div class="container text-center ">
  <h2>服务优势</h2>
    <div class="col-sm-4 liang-2">
      <div class="thumbnail">
        <span class="glyphicon" > <img src='<%= image_url 'ding.png' %>'</span>
        <p><strong>教你如何定位自己</strong></p>
        <p>我们拥有资深的能力评估团队
          <br/>能够评估你现有的能力以及潜力，结合你的目标
          <br/>为你提供私人订制职业路线</p>
      </div>
    </div>
    <div class="col-sm-4 liang-2">
      <div class="thumbnail">
        <span class="glyphicon" > <img src='<%= image_url 'match.png' %>'</span>
        <p><strong>为你提供足够多的工作选项</strong></p>
        <p>我们与各大企业密切合作，
          <br/>在这里的每条招聘信息都是通过严格筛选的。
          <br/>我们的工作职位主要依据程序猿等级分布。
          <br/>能够为你提供丰富的工作职位。</p>
      </div>
    </div>
    <div class="col-sm-4 liang-2">
      <div class="thumbnail">
        <span class="glyphicon" > <img src='<%= image_url 'finial.png' %>'</span>
        <p><strong>教你如何得到一份工作</strong></p>
        <p>我们熟知企业与企业之间的区别，
          <br/>我们了解企业内部的根本需求，
          <br/>我们提供帮助，为你寻找合适的工作
        </p>
      </div>
    </div>
</div>

<!-- footer -->
      <div class="row">
        <div class="footer">
          <div class="season-block2">
            <img src="http://ww2.sinaimg.cn/large/006tNc79gy1fewmc5y918j31kw0uytl4.jpg" class="liang-img" alt="">
        </div>
      </div>
    </div>

</div>
