
      <body data-spy="scroll" data-target=".nav-top">
          <!--======== 网站头图 =========-->
          <section class="intro">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="intro-content">
                  <h1>Ruby on Rails全栈工程师</h1>
                  <a class="btn btn-primary-welcome" href="jobs" role="button">立即开始</a></a>
                </div>
              </div>
            </div>
          </section>
          <!--======== end 网站头图 =========-->



          <!--======== 简介 + 服务优势 =========-->
          <section id="service" class="what-we-do text-align: center">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center main">
                  <h2 class="section-title">在全栈路上。。。</h2>
                  <div class="short-line"></div>
                  <p class="index-contect">
                    <br/>我们拥有梦想拥有热情，但我们也常常感到迷茫和无助。
                    <br/>我们拥有科学的筛选工作机制，
                    <br/>拥有最全最广最集中的工作岗位资源，
                    <br/>我们为你提供成长型职位。
                  </p>
                  <!-- <%= image_tag("http://ww2.sinaimg.cn/large/006tNbRwgy1ff19qn6d1oj31kw0indhr.jpg") %> -->
                </div>
                <div class="col-md-6 col-md-offset-3 text-center">
                  <h2 class="section-title">服务优势</h2>
                  <div class="short-line"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="do-box">
                        <%= image_tag("ding.png") %>
                        <h3>快速定位</h3>
                        <p>根据自己的能力级别去选择岗位，拨开薪资之谜，从本质上选工作。为你缩小找工作的范围。</p>

                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="do-box">
                        <%= image_tag("finial.png") %>
                        <h3>优质高效的选择</h3>
                        <p>我我们有专业的团队，收集各大企业及招聘网的信息，提供信息对称集中的工作。为你较少找工作成本。</p>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="do-box">
                        <%= image_tag("out-of-the-maze.png") %>
                        <h3>提供成长型岗位</h3>
                        <p>了解企业的本质需求，告诉你这岗位需要什么能力，在岗位上多久才能达到你想要的级别。为你评估成长速度。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </section>
          <!--======== end 服务优势 =========-->

          <!--======== level =========-->
          <section id="genius" class="our-experts">
            <div class="container">
              <div class="col-md-8 col-md-offset-2">
                <div class="row">
                  <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                      <h2 class="section-title">程序员等级</h2>
                      <div class="short-line"></div>
                    </div>
                  </div>
                    <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-4 category-list">
                            <%= link_to jobs_path(:category => "编程门外汉") , class: "category_1" do %>
                              <div class="expert-box">
                                  <%= image_tag("level-1.png") %>
                              </div>
                              <div>
                                <h3>编程门外汉</h3>
                                <!-- <p>Technology</p> -->
                              </div>
                            <% end %>
                          </div>
                          <div class="col-md-4 category-list">
                            <%= link_to jobs_path(:category => "编程新手") , class: "category_2" do %>
                              <div class="expert-box">
                                  <%= image_tag("level-2.png") %>
                              </div>
                              <div>
                                <h3>编程新手</h3>
                                <!-- <p>Product</p> -->
                              </div>
                            <% end %>
                          </div>
                          <div class="col-md-4 category-list">
                            <%= link_to jobs_path(:category => "高级新手") , class: "category_3" do %>
                              <div class="expert-box">
                                  <%= image_tag("level-3.png") %>
                              </div>
                              <div>
                                <h3>高级新手</h3>
                                <!-- <p>Design</p> -->
                              </div>
                            <% end %>
                          </div>
                      </div>
                      <br />
                      <div class="row">
                        <div class="col-md-4 category-list">
                          <%= link_to jobs_path(:category => "制作人") , class: "category_5" do %>
                            <div class="expert-box">
                                <%= image_tag("level-4.png") %>
                            </div>
                            <div>
                              <h3>制作人</h3>
                              <!-- <p>Marketing</p> -->
                            </div>
                          <% end %>
                        </div>
                        <div class="col-md-4 category-list">
                          <%= link_to jobs_path(:category => "项目经理") , class: "category_6" do %>
                            <div class="expert-box">
                                <%= image_tag("level-5.png") %>
                            </div>
                            <div>
                              <h3>项目经理</h3>
                              <!-- <p>Sales</p> -->
                            </div>
                          <% end %>
                        </div>
                        <div class="col-md-4 category-list">
                          <%= link_to jobs_path(:category => "Growth hacker") , class: "category_7" do %>
                            <div class="expert-box">
                                <%= image_tag("level-6.png") %>
                            </div>
                            <div>
                              <h3>Growth hacker</h3>
                              <!-- <p>Office</p> -->
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </section>
          <!--======== end level =========-->

          <!--======== 用户反馈 =========-->
          <section id="testimonial" class="talk-about-us">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                  <h2 class="section-title">用户反馈</h2>
                  <div class="short-line"></div>
                  <div id="talk-about-us" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#talk-about-us" data-slide-to="0" class="active"></li>
                      <li data-target="#talk-about-us" data-slide-to="1"></li>
                      <li data-target="#talk-about-us" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <p></p>
                        <%= image_tag("user_1.png") %>
                        <strong></strong>
                      </div>
                      <div class="item">
                        <p></p>
                        <%= image_tag("user_3.png") %>
                        <strong>Kelly , 数据工程师 </strong>
                      </div>
                      <div class="item">
                        <p></p>
                        <%= image_tag("user_2.png") %>
                        <strong></strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--======== end 用户反馈 =========-->

      </body>
