
<html>
    <head>
        <title> Big Boss </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="shortcut icon" href="/images/puzzle.ico">
    </head>

    <body>
          <div class="container-fluid">

          <%= render "common/navbar" %>

        <%= render "common/flashes" %>
        <%= yield %>
      </div>

        <%= render "common/footer" %>

    </body>
</html>
